{% extends "base.html" %}

{% block heading %}Todo app{% endblock %}

{%block content %}
<section class="newtask">
  <h2> Add a new task </h2>
  <form id="new_task" action="{{ url_for('index') }}" accept-charset="UTF-8" method="post">
    <label for "add_new_task" style="display: none;">Add a new task</label>
    <input autofocus="autofocus" autocomplete="off" placeholder="Add a new task..." required="required" type="text" value="" name="newtask" id="add_new_task" />
    <label for="duedate">Todo before: </label>
    <input type="date" name="duedate" value="" id="duedate" required="required" />
    <input type="submit" name="commit" value="Add" data-disable-with="Add" />
  </form>
  <hr />
</section>

<section>
  <h3> Current tasks </h3>
  <article>
    {% for mytask in mytasks %}
      <p class="task_text">&#10143; {{ mytask.tdtask }}</p>
      <p class="task_meta">Due date: <strong>{{ mytask.lastday }}</strong> | <input type="checkbox" name="iscomplete" /><em>Mark as complete</em></p>
    {% endfor %}
  </article>
</section>

{% endblock %}
